<div class="subsection">
    <div class="flex flex-col items-center w-full mt-32 font-base">
      <h2 class="font-header-5 text-4xl font-bold mt-0">Aigents</h2>
      <p class="font-base text-2xl text-center w-11/12 mx-auto">
        A Python package for building chatbots and contextual bots
      </p>
      <p class="btn btn-secondary font-base text-md text-center">
        <a href="https://github.com/bessavagner/aigents" target="_blank">View on GitHub</a>
      </p>
      <div id="mock-aigents-code" class="mockup-code w-11/12 h-96 overflow-y-auto mt-4"></div>
      <div class="flex flex-col self-end mx-auto">
        <p class="font-header-5 text-center mt-8">Features</p>
        <ul class="list-disc marker:text-teal-600 ml-10">
          <li class="py-[1px] font-base text-md">Easy to use API for building chatbots</li>
          <li class="py-[1px] font-base text-md">Support for multiple messaging platforms</li>
          <li class="pt-[1px] font-base text-md">Highly customizable and extensible</li>
        </ul>
      </div>
    </div>
  </div>