<div class="subsection">
    <div class="flex flex-col md:flex-row justify-evenly items-center w-full mt-32 overflow-x-auto">
        <a class="portfolio-card" target="_blank" href="https://sample-chat.onrender.com">
            <div class="portfolio-card-body items-center z-10">
                <h2 class="card-title font-header-5 text-neutral-content font-bold">Sample Chat</h2>
                <p class="text-md text-center mt-2">Websocket demonstration. Built using Python with the aiohttp framework</p>
                <div class="card-actions justify-center mt-5">
                    <p class="btn btn-secondary font-base text-2xl text-neutral-content">Visit page</p>
                </div>
            </div>
        </a>
        
        <a class="portfolio-card" target="_blank" href="https://github.com/bessavagner/aigents">
            <div class="portfolio-card-body items-center z-10">
                <h2 class="card-title font-header-5 text-neutral-content font-bold">Aigents</h2>
                <p class="text-md text-center mt-2">Python API for building chatbots and contextual bots</p>
                <div class="card-actions justify-center mt-5">
                    <p class="btn btn-secondary font-base text-2xl text-neutral-content">See repository</p>
                </div>
            </div>
        </a>
        
        <a class="portfolio-card" target="_blank" href="https://www.kaggle.com/datasets/vagnerbessa/average-car-prices-bazil">
            <div class="portfolio-card-body items-center z-10">
                <h2 class="card-title font-header-5 text-neutral-content font-bold">Average car prices</h2>
                <p class="text-md text-center mt-2">Dataset containing average car prices in Brazil between 1985 and 2023</p>
                <div class="card-actions justify-center mt-5">
                    <p class="btn btn-secondary font-base text-2xl text-neutral-content">Go to dataset</p>
                </div>
            </div>
        </a>
    </div>
</div>
        