<div class="subsection h-[80%] lg:mt-10 lg:max-w-[1370px] mx-auto">
    <div class="flex flex-col lg:grid lg:grid-cols-2 lg:gap-2 lg:justify-center justify-evenly items-center w-full lg:max-w-[900px] mt-32 lg:mt-2 lg:h-full overflow-x-auto">
        <a class="portfolio-card" target="_blank" href="https://sample-chat.onrender.com">
            <div class="portfolio-card-body items-center z-10">
                <h2 class="card-title font-header-5 lg:text-3xl text-neutral-content font-bold">Sample Chat</h2>
                <p class="text-md lg:text-lg text-center mt-2 lg:mt-8">Websocket demonstration. Built using Python with the aiohttp framework</p>
                <div class="card-actions justify-center mt-5 lg:mt-16">
                    <p class="btn btn-secondary font-base text-2xl text-neutral-content">Visit page</p>
                </div>
            </div>
        </a>
        
        <a class="portfolio-card" target="_blank" href="https://github.com/bessavagner/aigents">
            <div class="portfolio-card-body items-center z-10">
                <h2 class="card-title font-header-5 lg:text-3xl text-neutral-content font-bold">Aigents</h2>
                <p class="text-md lg:text-lg text-center mt-2 lg:mt-8">Python API for building chatbots and contextual bots</p>
                <div class="card-actions justify-center mt-5 lg:mt-16">
                    <p class="btn btn-secondary font-base text-2xl text-neutral-content">See repository</p>
                </div>
            </div>
        </a>
        
        <a class="portfolio-card" target="_blank" href="https://www.kaggle.com/datasets/vagnerbessa/average-car-prices-bazil">
            <div class="portfolio-card-body items-center z-10">
                <h2 class="card-title font-header-5 lg:text-3xl text-neutral-content font-bold">Average car prices</h2>
                <p class="text-md lg:text-lg text-center mt-2 lg:mt-8">Dataset containing average car prices in Brazil between 1985 and 2023</p>
                <div class="card-actions justify-center mt-5 lg:mt-16">
                    <p class="btn btn-secondary font-base text-2xl text-neutral-content">Go to dataset</p>
                </div>
            </div>
        </a>
        
        <a class="portfolio-card" target="_blank" href="https://github.com/bessavagner/api-payments">
            <div class="portfolio-card-body items-center z-10">
                <h2 class="card-title font-header-5 lg:text-3xl text-neutral-content font-bold">API - Payments</h2>
                <p class="text-md lg:text-lg text-center mt-2 lg:mt-8">A Python FastAPI/TortoiseORM project for handling payments</p>
                <div class="card-actions justify-center mt-5 lg:mt-16">
                    <p class="btn btn-secondary font-base text-2xl text-neutral-content">See repository</p>
                </div>
            </div>
        </a>
    </div>
</div>
        