<div class="subsection">
    <h2 class="font-header-3 mx-auto">Portfolio</h2>
    <div class="cards-container">
        <a class="card hover:scale-110" href="#section-3">
            <div class="card-body items-center z-10">
                <h2 class="card-title font-base">Sample Chat</h2>
                <p class="font-base text-lg">Websocket demonstration. Built using Python with the aiohttp framework</p>
                <div class="card-actions justify-center">
                    <p class="font-header-5">DO THIS!</p>
                </div>
            </div>
            <div class="cover"></div>
        </a>
        
        <a class="card hover:scale-110" href="#section-3">
            <div class="card-body items-center z-10">
                <h2 class="card-title font-base">Project</h2>
                <p class="font-base text-lg">Awesome project</p>
                <div class="card-actions justify-center">
                    <p class="font-header-5">DO THIS!</p>
                </div>
            </div>
            <div class="cover"></div>
        </a>
        
        <a class="card hover:scale-110" href="#section-3">
            <div class="card-body items-center z-10">
                <h2 class="card-title font-base">Project</h2>
                <p class="font-base text-lg">Awesome project</p>
                <div class="card-actions justify-center">
                    <p class="font-header-5">DO THIS!</p>
                </div>
            </div>
            <div class="cover"></div>
        </a>
    </div>
</div>
        