<div class="subsection">
    <div class="flex flex-col items-center w-full mt-32 font-base">
      <h2 class="font-header-5 text-4xl font-bold mt-0">API - Payments</h2>
      <p class="font-base text-2xl text-center w-11/12 mx-auto">
        A Python FastAPI/TortoiseORM project for handling payments
      </p>
      <p class="btn btn-secondary font-base text-md text-center">
        <a href="https://github.com/bessavagner/api-payments" target="_blank">View on GitHub</a>
      </p>
      <div class="lg:flex lg:flex-row justify-center items-center w-full lg:w-9/12 mt-8 mx-auto">
          <div id="mock-payments-api-code" class="mockup-code w-11/12 lg:max-w-[600px] h-96 overflow-y-auto mx-auto mt-4"></div>
          <div class="flex flex-col self-end lg:self-start mx-auto">
            <p class="font-header-5 lg:text-3xl text-center mt-8">Features</p>
            <ul class="list-disc marker:text-teal-600 ml-10 lg:mt-10">
              <li class="py-[1px] font-base text-md lg:text-xl">Secure authentication via JWT and API Keys</li>
              <li class="py-[1px] font-base text-md lg:text-xl">Utilizes Tortoise ORM with an asynchronous PostgreSQL</li>
              <li class="py-[1px] font-base text-md lg:text-xl">Implemented using `slowapi` to protect against abuse and ensure fair usage</li>
            </ul>
          </div>
      </div>
    </div>
  </div>