<div class="flex flex-col justify-between rounded-3xl shadow-2xl h-[460px] lg:h-[600px] w-[256px] lg:w-80 mx-auto">
    <header class="gradient-to-b-teal text-gray-200 p-2 shadow-md rounded-t-3xl">
        <h1 class="text-xl roboto-light">Chat Application</h1>
    </header>
    <main class="flex-1 p-4 overflow-auto">
        <div id="chatBox"
            class="relative h-full bg-teal-600 p-2 rounded-lg shadow-md space-y-4 overflow-y-auto">
            <!-- Messages will be dynamically inserted here -->
        </div>
    </main>
    <footer class="bg-gray-800 rounded-b-3xl p-2">
        <div class="flex">
            <input disabled autofocus="on" id="messageInput" type="text" placeholder="Type a message..."
                class="flex-1 p-2 border rounded-lg border-gray-300 bg-gray-500 text-gray-200 focus:outline-none focus:ring-2 focus:ring-teal-300">
            <button id="sendButton"
                class="p-1 ml-1 text-sm bg-teal-800 text-gray-200 rounded-lg hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-300">Send</button>
        </div>
    </footer>
</div>