<div class="h-[80%] w-11/12 max-w-screen-xl mt-40 shadow-md">
    <div class="relative flex flex-col justify-end">
        <a href="https://sample-chat.onrender.com">
            {% include './portfolio/sample-chat-app.html' %}
        </a>
        <div class="flex flex-col self-end w-1/2 mt-20 mr-10 text-right">
            <p class="font-header-5">
                <span class="roboto-bold text-blue-400">Websockets</span> and
                <a class="text-blue-400" href="https://docs.aiohttp.org/en/stable/" target="_blank">
                    aiohttp</a>
                demonstration
            </p>
            <p class="font-base text-xl">Built with Python, HTML/CSS, and JavaScript</p>
        </div>
        <div class="flex flex-col self-end w-1/2 mt-20 mr-10">
            <p class="pb-5 font-header-4">Features</p>
            <ul class="marker:text-teal-600 list-disc">
                <li class="py-5 font-base text-2xl">Easy deployment with docker</li>
                <li class="py-5 font-base text-2xl">Asynchronous server for high efficiency using aiohttp websockets</li>
                <li class="pt-5 font-base text-2xl">Responsive design with rapid components development using Tailwindcss</li>
            </ul>
        </div>
    </div>
</div>