<div class="subsection lg:h-screen lg:mt-20">
    <div class="flex flex-col items-center lg:justify-start w-full lg:h-full mt-32 font-base">
        <h2 class="font-header-5 text-4xl font-bold mt-0 lg:mt-4">Sample Chat</h2>
        <div class="relative flex flex-col justify-end items-end lg:w-9/12 lg:mx-auto">
            <div class="flex flex-col lg:items-center mt-0 mx-auto lg:mt-5 lg:w-[560px] lg:self-right lg:mr-20">
                <p class="font-base text-2xl text-center w-11/12 mx-auto">
                    <span class="roboto-bold text-blue-400">Websockets</span> and
                    <a class="text-blue-400" href="https://docs.aiohttp.org/en/stable/" target="_blank">
                        aiohttp</a>
                </p>
                <p class="font-base text-md text-center lg:text-right">Built with Python, HTML/CSS, and JavaScript</p>
            </div>
            <a href="https://sample-chat.onrender.com" target="_blank" class="lg:absolute lg:top-10 lg:left-20 mx-auto">
                {% include './portfolio/sample-chat-app.html' %}
            </a>
            <div class="flex flex-col self-end lg:self-right lg:w-[560px] lg:mr-20">
                <p class="font-header-5 lg:text-3xl text-center mt-2 lg:mt-10">Features</p>
                <ul class="list-disc marker:text-teal-600 ml-10 lg:mt-10">
                    <li class="py-[1px] font-base text-md lg:text-xl">Easy deployment with docker</li>
                    <li class="py-[1px] font-base text-md lg:text-xl">Asynchronous server for high efficiency using aiohttp websockets
                    </li>
                    <li class="pt-[1px] font-base text-md lg:text-xl">Responsive design with rapid components development using
                        Tailwindcss</li>
                </ul>
            </div>
        </div>
    </div>
</div>