<div class="subsection">
    <div class="grid grid-cols-3 w-11/12 mt-32 lg:ml-20">
      <div class="col-span-3 lg:col-span-2">
        <h2 class="font-header-5 text-xl font-bold mt-0">Let's Build Something Amazing Together</h2>
        <p class="font-base text-sm lg:text-lg text-center w-11/12 mx-auto mt-4">
          I'm always excited to collaborate with like-minded individuals and businesses.
          Whether you're looking to build a new project or need help with an existing one,
          I'd love to hear from you.
        </p>
      </div>
      <div class="col-span-3 lg:col-span-2 mt-8">
        <form action="" method="post" class="flex flex-col w-full">
          <label for="name" class="font-base text-md">Name:</label>
          <input type="text" id="name" name="name" class="w-full p-1 mb-2 border border-gray-400 rounded-lg">
          <label for="email" class="font-base text-md">Email:</label>
          <input type="email" id="email" name="email" class="w-full p-1 mb-2 border border-gray-400 rounded-lg">
          <label for="message" class="font-base text-md">Message:</label>
          <textarea id="message" name="message" class="w-full p-1 mb-2 border border-gray-400 rounded-lg"></textarea>
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Send Message
          </button>
        </form>
      </div>
      <div class="flex flex-col justify-center col-span-3 lg:col-span-2 mt-8">
        <h2 class="font-header-5 text-xl font-bold text-center mt-0">Find Me on GitHub</h2>
        <p class="font-base text-sm text-center w-11/12 mx-auto mt-4">
          Check out my GitHub profile for more information about my projects and experience.
        </p>
        <a href="https://github.com/bessavagner" target="_blank" class="bg-secondary hover:bg-primary text-base-300 font-bold mx-auto py-2 px-4 rounded inline-block mt-4">
          Visit My GitHub Profile
        </a>
      </div>
      <div class="col-span-3 lg:col-span-2 mt-8">
        <h2 class="font-header-5 text-xl font-bold text-center mt-0">Email Me Directly</h2>
        <p class="font-base text-sm text-center w-11/12 mx-auto mt-4">
          If you prefer to email me directly, you can reach me at <a href="mailto:bessavagner.dev@gmail.com" class="text-blue-500 hover:text-blue-700">bessavagner.dev@gmail.com</a>.
        </p>
      </div>
    </div>
  </div>