<div class="container max-w-screen-xl">
    <div class="grid grid-cols-3 w-11/12 lg:ml-20">
      <div class="col-span-3 lg:col-span-2">
        <p class="animate-fade-in font-header-5 ml-4 mb-2" id="hi-text">Hi! I'm a <span class="roboto-black">full stack</span></p>
      </div>
      <div class=""></div>
      <div class="col-span-3 lg:col-span-2">
        <p class="animate-fade-in font-header-3 roboto-thin text-right mt-2 mb-2" id="web-dev-text">Web developer</p>
      </div>
      <div class=""></div>
    </div>
  </div>