<div class="stacks">

        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                Python
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="90" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                HTML/CSS
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="80" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                Javascript
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="80" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                Docker
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="75" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                Unix/Linux
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="75" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                Bash
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="75" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                LaTeX
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="75" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                C++
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="60" max="100"></progress>
        </div>
        
        <div class="grid grid-cols-4 items-center w-11/12 my-1">
            <div class="flex flex-col justify-center font-base text-xxsm sm:text-md text-primary roboto-black text-center bg-primary-content h-8 lg:h-7">
                Machine learning
            </div>
            <progress class="col-span-3 progress progress-primary bg-neutral-content min-h-8 lg:min-h-7" value="60" max="100"></progress>
        </div>
        </div>
